<!DOCTYPE html>
<html>
  <head>
    <head>
      <title>Bootstraper</title>
      <%= csrf_meta_tags %> <%= csp_meta_tag %>

      <!-- This refers to app/javascript/stylesheets/application.scss-->
      <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
      %> <%= javascript_pack_tag 'application', 'data-turbolinks-track':
      'reload' %>
    </head>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/navbar'%> <%= yield %>
  </body>
</html>
